<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Journal Limpet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/svg" href="~/journal-limpet.svg" />
    <link rel="icon" type="image/png" href="~/journal-limpet.png" />
    <partial name="_MetaTags" />
    @RenderSection("Head", required: false)
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/">Journal Limpet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopCollapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row" id="navbarTopCollapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/">Home</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="Login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Journals">My journals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Settings">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/journal/logout">Logout</a>
                            </li>
                        }
                    </ul>
                    <form class="form-inline navbar-nav" style="align-items: start;">
                        <a class="nav-link" asp-page="/About">About</a>
                        <a class="nav-link" asp-page="/Privacy">Privacy</a>
                        <a class="nav-link" href="https://stats.journal-limpet.com" rel="noreferrer" target="_blank">Status</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark border-top">
        <div class="container">
            <span class="navbar-text">Version: {{version}} &copy; @DateTime.Now.Year</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBottomCollapse" aria-controls="navbarBottomCollapse" aria-expanded="false" aria-label="Toggle bottom navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarBottomCollapse">
                <ul class="navbar-nav flex-grow-1"></ul>
                <form class="form-inline navbar-nav" style="align-items: start;">
                    <a href="https://www.patreon.com/bePatron?u=36303860" target="_blank" class="nav-link">Patron</a>
                    <a href="https://twitter.com/JournalLimpet" class="nav-link">Twitter</a>
                    <a href="https://github.com/itssimple/journal-limpet" class="nav-link">GitHub</a>
                </form>
            </div>
        </div>
    </nav>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
