@model IndexModel
<h1 class="display-4">Welcome CMDR @Model.CommanderName!</h1>
<p>You have @Model.LoggedInUserJournalCount.ToString("n0") journals stored with us!</p>
<p>
    @foreach (var kvp in Model.IntegrationsEnabled)
    {
    <span>Your journals are @(kvp.Value ? "automatically sent to" : "not sent to") @kvp.Key.</span><br />
    }
</p>

@if (Model.LoggedInUser.SkipDownload)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Trouble downloading journals</h4>
        <p>Your account currently has some issues with downloading journals.</p>
        <p>Please contact NoLifeKing#6976 on <a href="https://discord.gg/aYwysrb66b" target="_blank" rel="nofollow">Discord</a></p>
    </div>
}
<hr />
<h3>Global stats</h3>
<ul class="index-stats">
    <li id="stat-usercount">@Model.UserCount.ToString("n0") users registered</li>
    <li id="stat-journalcount">@Model.TotalUserJournalCount.ToString("n0") journals saved</li>
    <li id="stat-journallines">@Model.TotalUserJournalLines.ToString("n0") lines of journal</li>
    <li id="stat-starsystems">@Model.TotalStarSystemCount.ToString("n0") star systems</li>
</ul>